<!DOCTYPE html>
<html>
  <head>
    <title>ETF</title>
    <link rel='stylesheet' href='/stylesheets/fund.css' />
    <script src="style/js/jquery.min.js"></script>
	<script src="style/js/skel.min.js"></script>
	<script src="style/js/skel-layers.min.js"></script>
	<script src="style/js/init.js"></script>
   	<noscript>
		<link rel="stylesheet" href="/style/css/skel.css" />
		<link rel="stylesheet" href="/style/css/style.css" />
		<link rel="stylesheet" href="/style/css/style-xlarge.css" />
	</noscript>
  </head>
  <body>

  	<div class="indexnav" id="nav2">
      <a href="/">GI home</a>
      <a href="/service_index">資料庫</a>
    </div>

    <div id="header"></div>

	<section id="banner2">
      <p>Please choose your service</p>
    </section>

 


    <!--
    	<a href="/etf_4433_Setting">
	    	<div class="chooseRef">
		    	<p class="Riskcontent">Portfolio 4433
		    	<br/></p>
	    	</div>
	    </a>
	-->
    	<div>
		<button class="button01" onclick="location.href='/etf_history'">歷史紀錄</button>
		<button class="button01" onclick="location.href='/etf_RPfilter_SelectDate'">RPS百格篩選</button>
<!--		
		<button class="button01" onclick="location.href='/etf_date_compare'">基金資料比對</button>
-->
		<button class="button01" onclick="location.href='/etf_SelfSelection'">自選組合</button>
		</div>

  </body>
</html>
