<!DOCTYPE html>
<html>
  <head>
    <title>Global Intelligence</title>

    <link rel='stylesheet' href='/stylesheets/fund.css' />
    <link rel="stylesheet" href="/style/css/style.css" />

    <script src="style/js/jquery.min.js"></script>
    <script src="style/js/skel.min.js"></script>
    <script src="style/js/skel-layers.min.js"></script>
    <script src="style/js/init.js"></script>

    <noscript>
    <link rel="stylesheet" href="/style/css/skel.css" />
    <link rel="stylesheet" href="/style/css/style.css" />
    <link rel="stylesheet" href="/style/css/style-xlarge.css" />
  </noscript>
  
  </head>
  <body>

    <div class="indexnav" id="nav2">
      <a href="/">GI home</a>
    </div>
    
    <div id="header"></div>
  
    <section id="banner2">
      <p>Please select your database</p>
    </section>
    


    <div id="fundContent">
      <!-- Mutual Fund 
      <a href="#">
        <div class="chooseRef">
          <p class="Riskcontent">Mutual Fund<img width="30px" src="images/arrow.png"/>
        </div>
      </a>
      -->
      <!-- ETF -->

        <button class="button01" onclick="location.href='/etf'">ETF</button>

<!--
      <a href="/etf">
        <div class="chooseRef">
          <p class="Riskcontent">ETF<img width="30px" src="images/arrow.png"/>
        </div>
      </a>
-->
    </div>

  </body>
</html>
